@charset "utf-8";
/* CSS Document */

header {
	position: relative;
	width: 100vw;
	background: black;
	height: 13vh;
}

.kilobyte{
	font-size: 1.5em;
	color: orange;
	text-transform: uppercase;
	font-weight: 900;
	position: absolute;
	top:25%;
	left:4%;
	width: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.enterprise{
	font-size: 1.2em;
	color: orange;
	text-transform: uppercase;
	font-weight: 900;
	position: absolute;
	top:55%;
	left:6%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	width: auto;
	font-stretch: expanded
	
}

 header nav ul{
	position: absolute;
	left:40%;
	top:35%;
	width: 60%;
	
}

header nav ul li{
	position: relative;
 	text-decoration: none;	
	display: inline;
	padding-right: 2%;
	font: 900;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
	font-size: 1em;

}

header nav ul li a{
	color: orange;
	text-decoration: none;
	width: 100%
}

header nav ul li a:hover{
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

header nav ul li a:active{
	color: red;
	font-size: 2em;
}



main{
	position: relative;
	width:100vw;
	height: auto;
	padding: 100px;
}

.cover{
	position: relative;
	width: auto;
	height:100vh;
	background-image: url(cover_photo.JPG);
	background-size: cover;
		
}

#welcomeMsg{
	position: absolute;
	left:50%;
	top: 35%;
	transform: translate(-50%);
	font-size: 1.6rem;
	font-stretch: ultra-expanded;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-weight: 500;
	color:white;
}

#KilobyteEnterprise{
	position: absolute;
	left:50%;
	top: 45%;
	transform: translate(-50%,-45%);
	font-size: 3.0rem;
	font-stretch: ultra-expanded;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	text-transform: uppercase;
	font-weight: 900;
	color:white;
	
}

#bar{
	position: absolute;
	width:200px;
	height: 5px;
	background: white;
	left:50%;
	top:55%;
	transform: translate(-55%,-50%)
		
}

.gridSection{
	position: relative;
	display: grid;
	width: 100%;
	height: 375px;
	background: white;
	grid-template-columns: auto auto auto;
	padding: 50px 0px;
}

.grid{
	margin-left: 20%;
	left:10%;
	background:darkorange;
	width:60%;
}

.gridLogo{
	width: 100px;
	height: 100px;
	margin-top: 7%;
	margin-left: 32.5%;
	
	
}

.gridTitle{
	position: relative;
	margin-left:30%;
	margin-top:2%;
	font-size: 1.4em;
	text-transform: uppercase;
	color:white;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 800;
}

.gridText{
	position: relative;
	width:90%;;
	height: auto;
	
}


.gridButton{
	position: relative;
	margin-left: 20%;
	margin-top: 100%;
	top:90%;
	border: solid 2px white;
	padding: 10px 50px;
	color: white;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.gridButton:hover{
	background: black;
	color:darkgoldenrod;
	border:none
}

footer {
	position:relative;
	bottom: 0%;
	width: 100vw;
	height:225px;
	background:black;
}

footer h3{
	color :white;
	font-size:1.2em; ;
	position: absolute;
	top:15%;
	left:50%;
	text-transform: uppercase;
	transform: translateX(-50%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

}
#social{
	position: relative;
	text-align: center;
	top:30%;

}

footer nav ul {
	position: absolute;
	top:50%;
	width:100%;
	text-align: center
	
}

footer nav ul li {
	position: relative;
 	text-decoration: none;	
	display: inline;
	padding-right: 1%;
	font: 900;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
	font-size: 0.8em;
	
}


footer nav ul li a{
	color: orange;
	text-decoration: none;
	width: 100%
}

footer p{
	width:100%;
	color:white;
	text-align: center;
	position: absolute;
	top:80%;
	font-size: 0.8em;
}
